<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>View Report</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <table id="customers">
        <tr>
            <td><b>Name:</b> {{data?.name}}</td>
            <td><b>Email:</b> {{data?.email}}</td>
        </tr>
    </table>

    <div class="responsive_table">
        <br>
        <table mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="name">
                <td mat-header-cell *matHeaderCellDef>Name</td>
                <th mat-cel *matCellDef="let element">{{element.name}}</th>
            </ng-container>

            <ng-container matColumnDef="category">
                <td mat-header-cell *matHeaderCellDef>Category</td>
                <th mat-cel *matCellDef="let element">{{element.category}}</th>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
    
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
        </table>
    </div>
</mat-dialog-content>