<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>notes</mat-icon> Notes
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">
          Login
        </a>
        <a (click)="handleSignupAction()">
          Register
        </a>
        <!-- <a (click)="handleForgotPasswordAction()">
          Forgot Password
        </a> -->
      </li>
    </ul>
  </nav>
</div>